<div>
bathroom main image with text
</div>

#spacer

<div>
text, margin left:
MY BATHROOM IS QUITE A SIGHT,

HALF WHITE AND HALF FLORAL DELIGHT,

THE HOLES IN THE WALLS MAY BE A BUMMER,

BUT WITH A BIT OF SPACKLE, THEY'LL BE NO MORE A HUMMER.
</div>
#spacer

<div>
text left, margin right:
Since plants
need a lot of
water, and
many of them
also love
humidity, the
bathroom is
actually the
perfect place
to house them.

image right: plant on shelf
</div>

#spacer

<div>
tall image left: ceiling light

text from center-line to bottom, margin left:
I had never seen such a pretty bathroom. Scuplted flowers on the wall were oversized. Light dainty touches were found in every corner. Scented exotic toilet paper had a lemon fragrance. The air smelled like cinnamon, and I could breathe in here.
- PINKFAERIES(BOLD)(/BOLD),
ALLPOETRY.COM (ITALIC)
</div>

#spacer

<div>
plant image with black left side
</div>

#spacer

<div>
text left, margin right:
Some
shower
heads
suck.
While
most
shower
heads
have
water
flow
from 2
to 2.5
gallons
per
minute,
many
others
are less
from the
factory.

image right: showerhead
</div>

#spacer

<div>
"RETURN" text and link, no background image
</div>