<div id="entrance_bg">
    <div id="entrance_link">
        <%= link_to pages_first_hall_path do %>
        <%= image_tag("enter_arrow.png", class: "center_link")%>
        <% end %>
    </div>
</div>