<div>
Main Kitchen Image with Text
</div>

<div>
Toaster Left, Weird Orange Food Thing Right
</div>

<div>
    1/2 and 1/2, Cutting Board image Left, poem Right
    <div>
        <p> # centered
            Diswasher running

            Crumbs on a dark wood
            table

            Mingled with salt grains

            Calvin Olsen
        </p>
    </div>
</div>

<div>
    Dirty Spatula Image
</div>

<div>
    Dirty Pan Image left (smaller share of width)
    Quesadilla Plate right (larger share of width)
</div>

<div>
    Plateware
    Return Link
</div>

