<div>
Living Room Main image with Text
</div>
# all text in caps and centered in image deficit
# Spacer of Background color
<div>
Succulent image left, text: "GROW" right
</div>
# spacer 
<div>
"SIP" text left, teacup image right
</div>
# spacer
<div>
N64 image left, "PLAY" text right
</div>
#spacer
<div>
"WORK" text left, keyboard image right
</div>
#spacer
<div>
books image left, "LEARN" text right
</div>
#spacer
<div>
"RETURN" text and link, no image
</div>