 body {
    margin: 0;
    width: 100%;
    background-color: #29637D;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_text {
    color: #D9DFE6;
    size: 3em;
}

.text {
    color: #D9DFE6;
    size: 1em;
}

.nav_wrapper {
    position: absolute;
    width: 100vw;
    height: auto;
}

.nav_links_wrapper {
    display: flex;
    position: absolute;
    bottom: 10vh;
}
.wide_image {
    position: relative;
    object-fit: contain;
    width: 100vmax;
}

.link_wrapper {
    position: absolute;
    display: display-inside;
    margin-left: 20vw;
    margin-right: 20vw;
    max-width: 90vw;
    max-height: 200px;
}

.left_link_image {
    position: absolute;
    left: 20vw;
    top: 90vh; 
}

.center_link_image {
    position: absolute;
    left: 46vw;
    top: 90vh;
}

.right_link_image {
    position: absolute;
    right: 20vw;
    top: 90vh;
}

#enter_link {
    position: absolute;
    top: 80vh;
    left: 46vw;
}
